h2 {
  margin: 2rem;
  border-radius: 6px;
  background-color: #b9858546;
  font-weight: bold;
  padding: 10px;
}
.container-dashboard {
  display: flex;
  // width: auto;
  // padding: 30px 50px;

  .owner-elf-card {
    background-color: yellow;
    padding: 0.5rem;

    img {
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      opacity: 0.9;
    }
  }

  .dashboard {
    border-radius: 4px;
    margin: 10px;
    padding: 10px;

    h2 {
      border-radius: 6px;
      background-color: #b9858546;
      font-weight: bold;
      padding: 10px;
    }

    .card {
      // overflow: hidden;
      // height: 120px;
      background: white;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      align-items: left;
      // display: flex;
      border-radius: 8px;
      margin: 2rem;
      padding: 1rem;

      h3 {
        font-size: 20px;
        font-weight: bold;

      }
    }
  }

  .elves-bookings {
    flex-direction: row;
    width: 50vw;

  }

  .my-bookings {
    flex-direction: row;
    width: 50vw;


  }
}
.owner-elf-container {
  margin: 2rem;

}
