
<div class="banner-hp">
  <div class="container">
    <h1>Help YoursElf</h1>
    <p> Louez les meilleurs elfes de maison autour de vous !</p>
    <a href="#" class="btn btn-primary btn-gradient">Book now</a>
  </div>
</div>
<div class="container-card-hp">

    <div class="card-avis">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-avis-infos">
        <h2>Dobby</h2>
        <p>Très bonne expérience avec  <strong>Dobby</strong> Je recommande.</p>
        <p>Renter</p>
      </div>
    </div>


    <div class="card-avis">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-avis-infos">
        <h2>Dobby</h2>
        <p>Très bonne expérience avec  <strong>Dobby</strong> Je recommande.</p>
        <p>Renter</p>
      </div>
    </div>


    <div class="card-avis">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-avis-infos">
        <h2>Dobby</h2>
        <p>Très bonne expérience avec  <strong>Dobby</strong> Je recommande.</p>
        <p>Renter</p>
      </div>
    </div>

    <div class="card-avis">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-avis-infos">
        <h2>Dobby</h2>
        <p>Très bonne expérience avec  <strong>Dobby</strong> Je recommande.</p>
        <p>Renter</p>
      </div>
    </div>
</div>
