
<div class="banner-hp">
  <div class="container">
    <h1>Help YoursElf 🎉</h1>
    <p> Louez les meilleurs elfes de maison autour de vous !</p>
    <%= link_to 'Découvrez nos elfes', elves_path, class: "btn btn-danger px-5 py-3 rounded-pill fs-4 mt-5" %>
  </div>
</div>
<div class="container-card-hp">

    <div class="card-avis">
      <div class="card-avis-infos">
        <h2>Dobby ⭐⭐⭐⭐⭐</h2>
        <p>Très bonne expérience avec  <strong>Dobby</strong> Je recommande.</p>
        <p class="text-end fst-italic">Marie-Françoise</p>
      </div>
    </div>

    <div class="card-avis">
      <div class="card-avis-infos">
        <h2>Elfo ⭐⭐</h2>
        <p>vazy y ma souleeee G essay dniké sa mair mé y cour trop vit</p>
        <p class="text-end fst-italic">bg75</p>
      </div>
    </div>

    <div class="card-avis">
      <div class="card-avis-infos">
        <h2>Butters ⭐⭐⭐⭐</h2>
        <p>BONJOUR BUTTERS C4EST PAPY OU AS6TU MIS LE</p>
        <p class="text-end fst-italic">FROMAGE QUI ETAIT DANS LE FR</p>
      </div>
    </div>

    <div class="card-avis">
      <div class="card-avis-infos">
        <h2>Gollum ⭐</h2>
        <p>Créature insupportable. Mon mari et moi ne retrouvons plus nos alliances. Inadmissible.</p>
        <p class="text-end fst-italic">Bernadette Chirac</p>
      </div>
    </div>
</div>
