.container-card-hp {
  padding: 20px;
  display: grid;
  justify-content: space-around;

  flex-grow: 1;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;


  .card-avis {
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    align-items: center;
    display: flex;
  }

  .card-avis img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  .card-avis-infos {
    padding: 16px;
  }

  .card-avis h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .card-avis p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
@media(max-width: 1200px) {
  .container-card-hp {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .container-card-hp {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 600px) {
  .container-card-hp {
    grid-template-columns: 1fr;
  }

  .card-avis img {
    height: 100%;
    width: 80px;
    object-fit: cover;
  }
}
