.container-elf-show {
  padding: 50px;
  // justify-content: space-around;
  // flex-grow: 1;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-gap: 10px;

  .card-elf {
    overflow: hidden;
    // height: 120px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // align-items: center;
    display: flex;
    border-radius: 4px;
    gap: 15px;

  }
  .card-elf img {
    // height: 100%;
    // width: auto;
    object-fit: cover;
  }

  .card-elf .card-elves-infos-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    font-family: 'Helvetica';
  }

  .card-elf-infos {
    padding: 30px;
    line-height: 1.7;
    flex-grow: 1;
    position: relative;
  }

  .card-elf p {
    font-size: 16px;
    margin: 0;
    opacity: 0.7;
  }

  .card-elves-infos-content {
    padding-top: 15px;
  }

  .btn-reserver {
  position: absolute;
  right: 80px;
  bottom: 80px;
  }
}

.btn_return_show {
  border: solid 2px;
  color: $elf;
  border-color: $elf;
  text-decoration: none;
  padding: 6px;
  margin-left: 50px;
  transition-duration: 0.2s;
}

.btn_return_show:hover{
  border: solid 2px;
  border-right: 0px;
  border-left: 0px;
  color: $elf;
  border-color: $elf;
  text-decoration: none;
  padding: 6px;
  margin-left: 50px;
  letter-spacing: 1px;
  }

.btn_booking_show {
 text-align: right;
}


