.devise-container {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // align-items: center;
  border-radius: 4px;
  margin: 3rem auto;
  padding: 1rem;
  width: 400px;
}
